.calculadora {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.display{
    font-size: 2em;
    width: 100%;
    text-align: right;
}

.btn {
    width: 23.80%;
    height: 50px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    background: #dfdfdf;
}

.btn:hover {
    background: #6969698a;
}